.content {
    height: 240px;

    display: grid;
    gap: 20px;

    padding: 20px;
}

.header {
    font-weight: bold;
    text-align: center;
}

.pokemon-info {
    display: grid;
    gap: 7px;
}

.btn {
    margin: auto auto 0 auto;
}
