html, body {
    width: 100%;
    height: 100%;

    margin: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

pre {
    display: flex;

    margin-top: 0;
    margin-bottom: 0;

    word-wrap: break-word;
}

code {
    flex: 1;

    line-height: 1.5em;
    font-size: 14px;

    min-height: 100%;

    padding: 1em 1.2em;
}

.hljs-line-numbers {
    padding: 0 !important;
}

.hljs {
    margin: 0 1em;
    padding: 10px;

    border-radius: 4px;

    transition: border ease 1s;
}

.hljs-ln {
    padding: 8px 0;
}

tr:first-child td {
    padding-top: 12px !important;
}

tr:last-child td {
    padding-bottom: 12px !important;
}

td.hljs-ln-numbers {
    user-select: none;

    text-align: center;
    vertical-align: top;

    border-right: 1px solid #3f51b5;
    color: #3f51b5;

    padding-right: 8px !important;
    padding-left: 8px !important;
}

td.hljs-ln-code {
    padding-left: 8px !important;
}

.nav {
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;

    background: #FFF3E7;
}

.mat-mdc-tab-body-wrapper {
    max-height: 550px;
    min-height: fit-content;
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-container {
    margin: auto 30px;
}

.btn-group {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;

    margin: auto;

    width: fit-content;
    height: fit-content;
}

.btn-group::-webkit-scrollbar {
    display: none;
}

.btn {
    min-width: 0;

    border-radius: 8px;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    font-size: 19px;
    font-weight: 500;
    text-align: center;

    padding: 30px 4rem;

    transition: all .5s;
}

.btn:hover {
    transition-duration: .1s;
}

.green-btn {
    color: darkgrey;
    opacity: .9;

    border: none;
}

.green-btn:hover {
    box-shadow: cadetblue 0 1px 20px;
}

.purple-btn {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    color: #FFFFFF;

    border-style: none;
    box-sizing: border-box;
}

.purple-btn:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
}

@media screen and (max-width: 60em) {

    .btn-group {
        display: grid;
        grid-template-columns: auto;
        gap: 20px;

        height: 400px;

        overflow: auto;
    }

    .btn {
        padding: 30px 3.6rem;
    }
}

@media screen and (max-width: 100em) {

    .mat-mdc-tab-body-wrapper {
        max-height: 450px;
    }

    code::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 60em) {

    .mat-mdc-tab-body-wrapper {
        max-height: 360px;
    }

    code {
        font-size: 12px;
    }

    code::-webkit-scrollbar {
        display: none;
    }
}
