.btn {
    width: 120px;

    margin: auto;
    padding: 15px;

    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;

    font-size: 15px;
    font-weight: bold;
    text-align: center;

    border-radius: 15px;

    transition: all .5s;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.btn:hover {
    box-shadow: var(--action-btn-box-shadow);

    transition-duration: .1s;
}
