.cypress-home-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 40px;

    margin: auto 30px;
    padding: 20px;

    overflow: auto;
}

.btn-group {
    height: 230px;

    display: grid;
    gap: 20px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 12px;

    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

    padding: 20px;
}

.group-header {
    color: slategrey;

    font-size: 22px;
    font-weight: bold;

    text-align: start;
}

.items-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;

    height: 150px;

    padding: 15px;

    overflow: auto;
}

.btn {
    min-width: 0;
    max-height: 70px;

    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;

    padding: 25px 1rem;

    transition: all .5s;
}

.btn:hover {
    box-shadow: var(--action-btn-box-shadow);

    transition-duration: .1s;

    z-index: 999;
}

.btn-group::-webkit-scrollbar {
    display: none;
}

.btn-container::-webkit-scrollbar {
    display: none;
}

.items-container::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 60em) {

    .btn-container {
        grid-template-columns: auto;
    }

    .items-container {
        grid-template-columns: auto auto;
    }
}
