.cypress-home-container {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cypress-home-container, .template-container {
    background-image: url(/assets/cypress-background.jpg);
}
