.modal-container {
    margin: auto 10%;
}

.content-container {
    margin: auto;

    display: flex;
    flex-direction: column;

    background: #fff;
    box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);

    border-radius: 15px;

    overflow: hidden;
}

.body {
    height: 340px;

    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
